rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper check parameters
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }
    
    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }
    
    function isLess2MB() {
      return request.resource.size < 2 * 1024 * 1024;
    }

    // User avatar storage folders
    match /users/{userId}/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isOwner(userId) && isImage() && isLess2MB();
    }

    // Blog media folder
    match /blogs/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    // Showcase gallery folder
    match /gallery/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}
